.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
     border-top: 0.2em solid rgb(214, 8, 8);
    border-bottom: 0.2em solid rgb(190, 14, 14);
    border-radius: 0.1em;
}
.shownav:before {
    content: '';
     position: absolute;
     width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid rgb(207, 36, 36);
    }
    nav {
        display: block;
    background-color: rgb(223, 224, 117);
    position: fixed;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100vh;
    }